<!--<app-card [title]="titles$"></app-card>
<div *ngFor="let title of titles$ | async">
  <p>{{title.id}}</p>
  <p>{{title.title}}</p>
</div> -->

  <app-cards [currentCardsIndex]="currentCardsIndex" [titles]="titles$ | async"></app-cards>

<div class="nav-button-container">
  <button mat-icon-button class="nav-button" [disabled]="toggleDisable(currentCardsIndex)" (click)="previousButton(currentCardsIndex)">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <button  mat-icon-button class="nav-button" (click)="nextButton(currentCardsIndex)">
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
</div>
