<mat-card>
  <mat-card-header>
    <mat-card-title>Вход</mat-card-title>
  </mat-card-header>
  <mat-card-actions>
    <form>
      <mat-form-field appearance="outline" [color]="colorControl.value"
                      [hideRequiredMarker]="hideRequiredControl.value"
                      [floatLabel]="floatLabelControl.value">
        <mat-label>Логин</mat-label>
        <input matInput  [(ngModel)]="login" name="email-field">

      </mat-form-field>

      <mat-form-field appearance="outline" [color]="colorControl.value"
                      [hideRequiredMarker]="hideRequiredControl.value"
                      [floatLabel]="floatLabelControl.value">
        <mat-label>Пароль</mat-label>
        <input matInput  [(ngModel)]="password" name="password-field">
      </mat-form-field>

    </form>
    <button mat-raised-button  type="submit" (click)="Login()">Войти</button>
  </mat-card-actions>
  <a class="registration-link" (click)="navToReg()">Регистрация</a>
</mat-card>
