.nav-container {
  display: flex;
  flex-direction: row;

  align-content: center;
  justify-content: space-evenly;

}
.nav-item{
  padding-right: 5px;
  cursor: pointer;
}
.logo{
  font-family: 'JetBrains Mono', monospace;
  font-size: x-large;
  padding-right: 77.5%;
}


