.nav-container {
  display: flex;
  flex-direction: row;

  align-content: center;
  justify-content: space-evenly;

  width: 200px;

}
.nav-item{
  padding-right: 5px;
  cursor: pointer;
}
.logo{
  font-family: 'JetBrains Mono', monospace;
  font-size: x-large;
  padding-left: 77.5%;
}

