.nav-button-container{
  display: flex;
  flex-direction: row;

  justify-content: space-around;
  align-items: center;

  margin-top: 2%;
}
.nav-button{
  margin-left: 7.35%;
  margin-right: 7.35%;
}
mat-icon{
  font-size: xx-large;
}
span{
  font-family: 'JetBrains Mono', monospace;
  font-size: large;
}
